*{
    font-family: century gothic;
 }

 #main-container{
    width: 1200px;
    margin: 0 auto;
    min-height: 300px;
    box-shadow: 0px 6px 10px lightgrey;
 }
.main_nav{
    background: gray;
    text-align: center;
}
.main_nav a:hover{
    background: #673AB7;
}
#middle_content{
    margin:5px;
}
.main_nav a{
    color: white;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    line-height: 45px;
}
.col1{
    width:69%;
    vertical-align: top;
}
.col2{
    width:30%;
    vertical-align: top;
}
.col1 , .col2{
    display: inline-block;
    background-color:lightgray;
    margin-bottom: 3px;
    min-height: 300px;

}
.footer{
    width:99%;
    margin:0 auto;
    padding-bottom:10px;
}
.fotter_sec{
    width: 33%;
    display: inline-block;
    background: lightgray;
    height: 200px;
    text-align: center;
    padding-top: 10px;

}
.copyright_sec{
        text-align: center;
    padding: 8px;
    background: gray;
}