<header-component></header-component>

<div id="middle_content">
    <div class="col1">
          <section>
              in this section main section content goes  
         </section>
         <article>
                  <header>This Is Article Header</header>
                  <div class='article_middle'>this is article section</div>
                  <footer>Article Footer</footer>
         </article>
    </div>

     <div class="col2">
          <aside>
              <ul>
                  <li>Aside1</li>
                  <li>Aside2</li>
                  <li>Aside3</li>
                  <li>Aside4</li>
                  <li>Aside5</li>
              </ul>
          </aside>
    </div>

</div>

<footer-component></footer-component>